@model PagedList.IPagedList<CMSDiamondStay.Models.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index3Async";
}

<h2>Index3Async</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            user_id
        </th>
        <th>
            first_name
        </th>
        <th>
            last_name
        </th>
        <th>
            Email
        </th>
        <th>
            is_activated
        </th>
        <th>
            modifiedTime
        </th>
        <th>
            first_time
        </th>
        <th>
            role
        </th>
        <th>
            main_balance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_activated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.main_balance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index3Async", "User", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>


@Html.PagedListPager(Model, page => Url.Action("Index3Async",
    new { page, size = ViewBag.currentSize ,sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<!-- Kết thúc -->