<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    
    <link href="~/App_Themes/CMS/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/App_Themes/CMS/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/App_Themes/CMS/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/App_Themes/CMS/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <link href="~/App_Themes/CMS/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/App_Themes/CMS/build/css/custom.min.css" rel="stylesheet">
</head>
<body>
    <div class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/Home/Index" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                        </div>

                        <div class="clearfix"></div>



                        <!-- sidebar menu -->
                        @Html.Partial("_SidebarMenu")
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        @Html.Partial("_PartialLogin")
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                @Html.Partial("_top_navigation")
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    @RenderBody()
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
        <!-- jQuery -->

    </div>
    <!-- jQuery -->
    <script src="~/App_Themes/CMS/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/App_Themes/CMS/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/App_Themes/CMS/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/App_Themes/CMS/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/App_Themes/CMS/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/App_Themes/CMS/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/App_Themes/CMS/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/App_Themes/CMS/build/js/custom.min.js"></script>
</body>
</html>
