<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="~/App_Themes/CMS/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/App_Themes/CMS/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/App_Themes/CMS/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/App_Themes/CMS/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Datatables -->

    <link href="~/App_Themes/CMS/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- bootstrap-wysiwyg -->
  
    <!-- Select2 -->
    <link href="~/App_Themes/CMS/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/App_Themes/CMS/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/App_Themes/CMS/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/App_Themes/CMS/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/App_Themes/CMS/build/css/custom.min.css" rel="stylesheet">
    <link href="~/App_Themes/CMS/vendors/deactive-switch/deactive-switch.css" rel="stylesheet">

</head>
<body>
    <div class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                        </div>

                        <div class="clearfix"></div>



                        <!-- sidebar menu -->
                        @Html.Partial("_SidebarMenu")
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        @Html.Partial("_Partiallogin")
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                @Html.Partial("_top_navigation")
                <!-- /top navigation -->
                <!-- page content -->


                @RenderBody()




                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <!-- jQuery -->
    <script src="~/App_Themes/CMS/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/App_Themes/CMS/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/App_Themes/CMS/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/App_Themes/CMS/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/App_Themes/CMS/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/App_Themes/CMS/vendors/iCheck/icheck.min.js"></script>

    <!-- Datatables -->


    <script src="~/App_Themes/CMS/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>

    <script src="~/App_Themes/CMS/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/App_Themes/CMS/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/App_Themes/CMS/build/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
