
@model PagedList.IPagedList<CMSDiamondStay.Models.Booking>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAparment.cshtml";

}
@if (TempData["message"] != null)
{
    if (TempData["message"] as string == "Create Success")
    {
        <p class="alert alert-success">@TempData["message"]</p>
    }
}
<div class="right_col">
    <div class="x_panel">
        <div class="x_content">



            <div class="clearfix"></div>
            <h3 style="text-align: center;">Danh sách booking hiện có</h3>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">


                                        <div class="row">
                                            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 text-left">
                                                @using (Html.BeginForm("BookingHoanThanh", "Booking", FormMethod.Get))
                                                {
                                                    <p>
                                                        Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                                                    </p>
                                                }
                                            </div>

                                            <div class="col-md-10 col-sm-10 col-xs-10 col-sm-10 input-group float-right">

                                                @using (Html.BeginForm("BookingHoanThanh", "Booking", FormMethod.Get))
                                                {

                                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { @class = "", @placeholder = "Search for..." })
                                                    <span class="input-group-btn">
                                                        <input type="submit" value="Search" />
                                                    </span>

                                                }

                                            </div>

                                        </div>


                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Booking Id</th>
                                                    <th>User Name</th>
                                                    <th>Apartment Name</th>
                                                    <th>Apartment Type</th>
                                                    <th>Check In</th>
                                                    <th>Check Out</th>
                                                    <th>Amount</th>
                                                    <th>Code</th>
                                                    <th> Image</th>

                                                    <th>Action</th>
                                                    @*<th>Deactive</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.id</td>
                                                        <td>@item.user_name</td>
                                                        <td>@item.apartment_name</td>
                                                        <td>@item.apartment_type</td>
                                                        <td>@item.check_in.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.check_out.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.amount đ</td>
                                                        <td>@item.code</td>
                                                        <td><img src="@item.apartment_thumb" alt="Girl in a jacket" width:auto height="130"></td>
                                                        <td>
                                                           
                                                            @if (item.status == 6)
                                                            {
                                                                <a href="#" class="btn btn-info btn-xs">Đã hoàn thành</a>
                                                            }

                                                        </td>
                                                        @*<td>
                                                                <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>*@
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Convert.ToInt32(Session["role"].ToString()) == 3)
            {
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận booking thanh toán</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-dathanhtoan">Đã thanh toán</button>
                                <button type="button" class="btn btn-danger btn-chuathanhtoan">Chưa thanh toán</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="col-md-12 col-sm-12  text-center">

                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, size = ViewBag.currentSize, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.CurrentFilter }),
                    new PagedListRenderOptions()
                    {
                        LiElementClasses = new List<string> { "btn btn-success" }
                    }
                )



            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 text-right">
                Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>

        </div>
    </div>




</div>

