
@model PagedList.IPagedList<CMSDiamondStay.Models.Booking>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAparment.cshtml";
    var role = Convert.ToInt32(Session["role"].ToString());
}
@if (TempData["message"] != null)
{
    if (TempData["message"] as string == "Create Success")
    {
        <p class="alert alert-success">@TempData["message"]</p>
    }
}
<style>
    .scale-down {
        object-fit: scale-down;
    }
</style>
<div class="right_col">
    <div class="x_panel">
        <div class="x_content">



            <div class="clearfix"></div>
            <h3 style="text-align: center;">Danh sách booking hiện có</h3>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">

                                        <div class="col-sm-12">
                                            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 text-left">
                                                @using (Html.BeginForm("Index", "Booking", FormMethod.Get))
                                                {
                                                    <p>
                                                        Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "btn btn-primary" })
                                                    </p>
                                                }
                                            </div>

                                            <div class="col-sm-4 float-right">

                                                @using (Html.BeginForm("Index", "Booking", FormMethod.Get))
                                                {

                                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { @class = "form-control col-md-8", @placeholder = "Tìm kiếm theo booking id, tên..." })

                                                    <input type="submit" class="btn btn-primary col-md-3" value="Tìm Kiếm" />

                                                }

                                            </div>


                                        </div>



                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Booking Id</th>
                                                    <th>Người đặt</th>
                                                    <th>Tên phòng</th>
                                                    <th>Loại phòng</th>
                                                    <th>Check in</th>
                                                    <th>Check Out</th>
                                                    <th>Tiền</th>
                                                    <th>Mã đặt chỗ</th>
                                                    <th> Ảnh</th>

                                                    <th>Trạng thái</th>
                                                    @*<th>Deactive</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr id="@item.id">
                                                        <td>@item.id</td>
                                                        <td>@item.user_name</td>
                                                        <td>@item.apartment_name</td>
                                                        <td>@item.apartment_type</td>
                                                        <td>@item.check_in.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.check_out.ToString("dd/MM/yyyy")</td>
                                                        <td>@(item.amount)đ</td>
                                                        <td>@item.code</td>
                                                        <td><img src="@item.apartment_thumb" alt="ảnh đại diện" width="200" height="130" class="scale-down"></td>
                                                        <td>
                                                            @if (item.status == 5)
                                                            {
                                                                <a href="#" class="btn btn-warning btn-xs btn-active" data-toggle="modal" data-id="@item.id" data-code="@item.code" data-target="#exampleModalCenter"> Chờ xác nhận thanh toán </a>
                                                            }
                                                            @if (item.status == 3)
                                                            {
                                                                <a href="#" class="btn btn-success btn-xs btn-xacnhan" data-id="@item.id" data-code="@item.code"> Đã thanh toán </a>
                                                            }
                                                            @if (item.status == 1)
                                                            {
                                                                <a href="#" class="btn btn-danger btn-xs"> Chưa thanh toán </a>
                                                            }
                                                            @if (item.status == 4)
                                                            {
                                                                <a href="#" class="btn btn-dark btn-xs">Đã Hủy</a>

                                                            }
                                                            @if (item.status == 2)
                                                            {
                                                                <a href="#" class="btn btn-secondary btn-xs"> Đã Hết hạn</a>
                                                            }
                                                            @if (item.status == 6)
                                                            {
                                                                <a href="#" class="btn btn-info btn-xs">Đã hoàn thành</a>
                                                            }

                                                        </td>
                                                        @*<td>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </td>*@
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (role == 2|| role == 3|| role == 5)
            {
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận booking thanh toán</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-dathanhtoan">Đã thanh toán</button>
                                <button type="button" class="btn btn-danger btn-chuathanhtoan">Chưa thanh toán</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="col-md-12 col-sm-12  text-center">

                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, size = ViewBag.currentSize, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.CurrentFilter }),
                    new PagedListRenderOptions()
                    {
                        LiElementClasses = new List<string> { "btn btn-success" }
                    }
                )



            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 text-right">
                Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>

        </div>
    </div>




</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@if (role == 2|| role == 3|| role == 5)
{
    <script>
    $(document).ready(function () {
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    var code = btn.data('code');
                    $('.btn-dathanhtoan').off('click').on('click', function (e) {
                        e.preventDefault();
                        if(confirm("Bạn có xác nhận booking đã thanh toán")) {
                            $.ajax({
                                url: "/Booking/ChangeStatus",
                                data: { id: id, code: code, active: true },
                                dataType: "json",
                                type: "POST",
                                success: function (response) {
                                    if (response.status == true) {
                                        alert("Xác nhận đã thanh toán thành công");
                                        btn.text("Đã thanh toán");
                                        btn.removeClass("btn btn-warning");
                                        btn.addClass("btn btn-success");
                                        $('#exampleModalCenter').modal('toggle');
                                    }

                                }
                            });
                        };

                    });

                    $('.btn-chuathanhtoan').off('click').on('click', function (e) {
                        e.preventDefault();
                        if (confirm("Bạn có xác nhận booking chưa thanh toán")) {
                            $.ajax({
                                url: "/Booking/ChangeStatus",
                                data: { id: id, code: code, active: false },
                                dataType: "json",
                                type: "POST",
                                success: function (response) {
                                    if (response.status == false) {
                                        alert("Xác nhận chưa thanh toán thành công");
                                        btn.text("Chưa thanh toán");
                                        btn.removeClass("btn btn-warning");
                                        btn.addClass("btn btn-danger");
                                        $('#exampleModalCenter').modal('toggle')
                                    }
                                }
                            });

                        };
                    });
                    @*var active;
                    if ("@Model.is_activated.ToString()" == "True") {
                        active = 0;
                    }
                    else {
                        active = 1;
                    }*@

                });
            }
        }
        user.init();
    });
    </script>
}
@if (Convert.ToInt32(Session["role"].ToString()) == 1)
{
    <script>
    $(document).ready(function () {
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-xacnhan').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    var code = btn.data('code');
                        e.preventDefault();
                        if(confirm("Bạn có xác nhận booking đã hoàn thành")) {
                            $.ajax({
                                url: "/Booking/ChangeStatusXacNhanHoanThanh",
                                data: { id: id, code: code},
                                dataType: "json",
                                type: "POST",
                                success: function (response) {
                                    if (response.result == true) {
                                        alert("Xác nhận booking hoàn thành thành công");
                                        $("#" + id).remove();
                                    }

                                }
                            });
                        };
                });
            }
        }
        user.init();
    });
    </script>
}
