@using CMSDiamondStay.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h1>DIAMOND STAY MEMBER LOGIN FORM</h1>
@if (TempData["error"] != null)
{
    <p class="alert alert-danger">@TempData["error"]</p>
}
<div class="container w3layouts agileits">

    <div class="login w3layouts agileits">
        <h2>Đăng Nhập hệ thống Diamon Stay</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")

            <div>
                @Html.TextBoxFor(m => m.email, new { @placeholder = "Tên đăng nhập" })
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.PasswordFor(m => m.password, new { @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
            </div>

            <ul class="tick w3layouts agileits">
                <li>
                    <input type="checkbox" id="brand1" value="">
                    <label for="brand1"><span></span>Nhớ mật khẩu</label>
                </li>
            </ul>
            <div class="send-button w3layouts agileits">
                <form>
                    <input type="submit" value="Đăng Nhập">
                </form>
            </div>
        }
        @Html.ActionLink("Quên mật khẩu? Nhấn vào đây", "ForgotPassword", "Account")
        <div class="social-icons w3layouts agileits">
            <p>- Đăng nhập cùng -</p>
            <ul>
                <li><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Facebook</span></a></li>
                <li class="ggp aits"><a href="#"><span class="icons agileits"></span><span class="text w3layouts agileits">Google+</span></a></li>
                <li class="ggp aits"><a href="#"><span class="icons agileits"></span><span class="text w3layouts agileits">Google+</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>

        @*@Html.Partial("_PartialRegister")*@


        <div class="clear"></div>
    </div>
</div>

<div class="footer w3layouts agileits">
    <p> &copy; 2020  Member Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com" target="_blank">Diamond Stay Company</a></p>
</div>



@section Scripts {
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>
        $(function () {

            setTimeout(function () {
                if ($(".alert").is(":visible")) {
                    //you may add animate.css class for fancy fadeout
                    $(".alert").fadeOut("fast");
                }
            }, 2000)

        });
    </script>

}