@model PagedList.IPagedList<CMSDiamondStay.Models.ConvenienceViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Convenience", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
@if (TempData["message"] != null)
{
    <p class="alert alert-success">@TempData["message"]</p>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.Raw(item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<br />


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, size = ViewBag.currentSize, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
     new PagedListRenderOptions()
     {
         LiElementClasses = new List<string> { "btn btn-success" }
     })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            setTimeout(function () {
                if ($(".alert").is(":visible")) {
                    //you may add animate.css class for fancy fadeout
                    $(".alert").fadeOut("fast");
                }
            }, 2000)

        });
    </script>



}


